/* Created by Artisteer v4.1.0.59861 */

.rnut-header, #rnut-header-bg, .rnut-layout-cell, .rnut-layout-wrapper, .rnut-footer, .rnut-nav, #rnut-hmenu-bg, .rnut-sheet,
.clearfix {
   zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).className="cleared");
}

.rnut-textblock > div {
   display: block;
   line-height: normal;
   zoom: 1;
}

.rnut-header
{
   z-index: 1;
   background-image: [headerimage];
   background-position: [headerposition];
}

#rnut-header-bg 
{
   display: none;
}

.rnut-hmenu>li, .rnut-hmenu>li>a
{
   display: inline !important;
   zoom: 1;
   float: none !important;
   vertical-align: top;
}
ul.rnut-hmenu, ul.rnut-hmenu ul {
   zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).className="cleared");
}
#rnut-hmenu-bg 
{
   display: none;
}

ul.rnut-hmenu>li:first-child {
   padding-right:6px;
}

ul.rnut-hmenu ul{
   background-color: #DEDEDE !important;
}

.rnut-content-layout, .rnut-content-layout-row, .rnut-layout-cell 
{
   display: block;
   zoom: 1;
}
.rnut-layout-cell
{
   position:relative;
   float: left;
   clear: right;
}

input[type="text"]
{
   margin:0 0 0 -3px;
   zoom:expression(runtimeStyle.zoom = 1, parentNode.insertBefore(document.createElement('div'), this).appendChild(this));
}

* html input[type="text"]
{
   margin :0;
}

form.rnut-search>input[type="text"]
{
   margin:0 0 0 -3px;
   zoom:expression(runtimeStyle.zoom = 1, parentNode.insertBefore(document.createElement('div'), this).appendChild(this));
}

form.rnut-search div>input[type="text"]
{
   width: 100%;
}

* html form.rnut-search>input[type="text"] 
{
   margin :0;
}

.rnut-postmetadataheader{
   zoom:1;
}

.rnut-postheadericons span{
   zoom: 1;
}
.rnut-postcontent {
   height: 1%;
}

.close-alt, .arrow-right-alt, .arrow-left-alt {
   display: block !important;
}
.cw, .ccw {
   display: none !important;
}

.rnut-sidebar1
{
   background: none !important;
   border: none !important;
   zoom:expression(runtimeStyle.zoom=1, parentNode.parentNode.insertBefore(document.createElement('div'),parentNode.parentNode.firstChild).className='rnut-sidebar1-bg' + (className.indexOf('rnut-sidebar1-fix') == -1 ? '' : ' rnut-sidebar1-bg-fix' ));
}

.rnut-sidebar1-bg 
{
   border-right:1px solid #BFBFBF;
   position:absolute;
   z-index:-2;
   direction: ltr;
   left:  0;
   bottom:0;
   top:0;
   width: 225px;
   overflow:hidden;
   display:block;
   background-color: #E8E8E8;
}

.rnut-content 
{
   width: auto;
   float:none;
}

